@model IEnumerable<UFiles.Domain.Entities.UserEvent>
@{
    ViewBag.Title = "Users";
    Layout = "../shared/_Layout.cshtml";
}

<h2>User Event Log</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Description</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eve in Model)
        {
            <tr>
                <td>@eve.EventId</td>
                <td>@eve.Occurred</td>
                <td>Description</td>
                <td>@Html.ActionLink(eve.User.FirstName + " " + eve.User.LastName, "Edit", "User", new { id = eve.User.UserId }, new { })</td>
            </tr>
        }
    </tbody>
</table>