@if(Request.IsAuthenticated) {
    
    <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
    <li>@Html.ActionLink("Profile","Profile","Account")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Authentication")</li>
    <li>@Html.ActionLink("Create Account", "Create", "Authentication")</li>
}
