@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to UFiles</h2>
<p>
    To learn more about UFiles check out our <a href="@Url.Action("Index","Help")">Help Guide</a>
</p>

<p>
    Want to dive right in? <a href="@Url.Action("Create","Transmittal")">Try sending a file</a>!
</p>
