@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/Full/_Site.Full.Master.Layout.cshtml";
}
@section PageHeading {
    <a class="coreExternalHighlight" href="Home">home</a>/
}
@section PageHeader {
    <div class="coreHeaderUserContainer floatRight">
        logged in as <span class="coreExternalHighlight">example@company.com</span> | <a
            href="#">logout</a></div>
}
@section PageSidebar{
    <div class="sideBarHeading">
        Example User</div>
    <div class="sidebarTabGroup">
        <div class="sidebarTab coreExternalHighlight">
            home</div>
        <div class="sidebarTab" id="tabMyGroup">
            <a href="#">my groups</a></div>
    </div>
    <div class="sidebarTabGroup">
        <div class="sidebarTab" id="tabMyFiles">
            <a href="#">my files</a></div>
        <div class="sidebarTab" id="tabOtherFiles">
            <a href="#">files sent to me</a> <span class="sidebarTabBalloon">12</span></div>
    </div>
    <div class="sidebarTabGroup">
        <div class="sidebarTab" id="tabAdmin">
            <a href="#">administration</a></div>
        <div class="sidebarTab" id="tabSettings">
            <a href="#">settings</a></div>
    </div>
}
<asp:content id="homePageContent" contentplaceholderid="pageContent" runat="server">
    <div class="contentBarFull">
        <div class="contentPanel floatFix floatLeft">
            <div class="uploadHeading floatLeft">
                send a file</div>
            <div class="uploadSectionMajor floatLeft floatFix">
                <input type="button" class="uploadSendButton coreButtonAccept floatRight" value="Send" />
                <input type="file" class="uploadUploadButton floatRight" />
            </div>
        </div>
    </div>
    <div class="homeView floatFix">
        <div class="contentBarMain floatLeft">
            <div class="contentPanel floatLeft">
                <div class="detailsSection">
                    <div class="detailsMajor">
                        <div class="detailsInnerSection" id="fileName">
                            <span class="detailsHighlight">Important Document.doc</span>
                        </div>
                        <div class="detailsInnerSection" id="fileSender">
                            sent by <span class="detailsHighlight">another@company.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentBarMini floatRight">
            <div class="contentPanel floatRight">
                <div class="panelHeading floatFix">
                    <a href="#"><div class="panelTab panelTabSelected floatLeft" id="recievedTab">recently recieved</div></a>
                    <a href="#"><div class="panelTab floatRight" id="sentTab">recently sent</div></a></div>
                <div class="floatFix" id="recentlySent">
                    <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Example File.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            important@company.com</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            1:31PM 6/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#" onclick="fakeAJAXPopup();">download</a></div>
                    </div>
                    <div class="panelMiniSection panelSectionSelectedHighlight floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Important Document.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            another@company.com</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            9:03AM 6/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">download</a></div>
                    </div>
                    <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Pricing.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            sales@example.com</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            11:56AM 5/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">download</a></div>
                    </div>
                </div>
            </div>
            <div class="contentPanel floatRight" id="recentlyRecieved" style="display: none; opacity: 0.0;">
                <div class="floatFix" id="recentlySent">
                    <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Example File.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            multiple recipients</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            4:23PM 2/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">edit</a></div>
                    </div>
                                        <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Example File.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            multiple recipients</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            4:23PM 2/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">edit</a></div>
                    </div>
                                        <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Example File.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            multiple recipients</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            4:23PM 2/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">edit</a></div>
                    </div>
                                        <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Example File.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            multiple recipients</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            4:23PM 2/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">edit</a></div>
                    </div>
                                        <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Example File.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            multiple recipients</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            4:23PM 2/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">edit</a></div>
                    </div>
                                        <div class="panelMiniSection floatFix">
                        <div class="panelMiniSectionMajorDetail panelDetailHighlight floatLeft">
                            Example File.doc</div>
                        <div class="panelMiniSectionEmail panelMiniSectionMinorDetail floatLeft">
                            multiple recipients</div>
                        <div class="panelMiniSectionTime panelMiniSectionMinorDetail floatLeft">
                            4:23PM 2/09/2011</div>
                        <div class="panelMiniSectionLink panelMiniSectionMinorDetail floatLeft">
                            <a href="#">edit</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
