body
{
    margin: 0 0 0 0;
    background-color: #404040;
    font-family: Arial;
    font-size: 12px;
}
div#loader
{
    color:#FFFFFF;
    position:fixed;
    right:6px;
    top:6px;
    width:150px;
    height:30px;
    line-height:30px;
    font-size:16px;
    font-weight:bold;
    background:#404040;
    border-left:2px solid #DDDD00   ;
    padding-left:6px;
}
.floatFix
{
    overflow: hidden;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

.floatClear
{
    clear: both;
}

a
{
    color: inherit;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.coreMiniContainer
{
    margin: 100px auto 0 auto;
    height: auto;
    width: 510px;
}

.coreMiniHeader
{
    font-family: Arial;
    color: #FFFFFF;
    font-size: 42px;
    text-align: right;
}

.coreMiniBox
{
    padding-top: 10px;
    margin: 5px 0 0 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 10px 0px 0px;
    border-color: #ffbf43;
}

.coreMiniBoxUserAction
{
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #e5e5e5;
    margin: 0 0px 0px 0px;
    padding: 10px 15px 0px 15px;
    width: 460px;
    overflow: hidden;
}

.coreButtonCancel
{
    background-color: #8c8c8c;
    border-style: none;
    color: #FFFFFF;
}

.coreButtonAccept
{
    background-color: #48abf7;
    border-style: none;
    color: #FFFFFF;
}
.coreButtonAccept:hover
{
    background-color:#59bcf8;
}

.coreContainer
{
    width: 970px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.coreHeader
{
    width: 970px;
    height: 40px;
    color: #FFFFFF;
}

.coreHeaderInternal
{
    width: 610px;
}

.coreHeaderBanner
{
    padding-top: 20px;
    margin-left: 155px;
    width: 150px;
    color: #808080;
}

.coreSectionHeader
{
    font-family: Arial;
    color: #FFFFFF;
    font-size: 42px;
    text-align: right;
    margin: 10px 10px 0px 0px;
}

.coreHeaderUserContainer
{
    margin: 20px 0 0 0;
    text-align: right;
    color: #808080;
}

.coreInternalContainer
{
    width: 815px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.coreLayoutContainer
{
    width: 815px;
    overflow: hidden;
}

.coreSectionContainer
{
    width: 815px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #ffbf43;
}

.coreSidebar
{
    font-family: Arial;
    width: 150px;
    background-color: #404040;
    color: #FFFFFF;
    margin-top: 35px;
}

.coreSidebarInternal
{
    width: 140px;
    padding: 0 0 0 5px;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-color: #ffbf43;
}

.coreContent
{
    float: right;
    width: 795px;
    padding: 5px 5px 5px 5px;
    height: 100%;
}

.coreExternalHighlight
{
    font-weight: bold;
    color: #FFFFFF !important;
}

.footer
{
    margin-top: 30px;
    padding-top: 5px;
    border-color: #4d4d4d;
    border-width: 1px 0 0 0;
    border-style: solid;
    width: 100%;
}

.footerContainer
{
    margin: 0 auto 0 auto;
    padding: 0 20px 20px 20px;
    color: #666666;
    font-size: 11px;
    text-align: center;
}

.informationHighlightAdditional
{
    background-color: #cdf0ff;
    border-color: #59ceff;
}

.informationHighlightError
{
    background-color: #ffd9d9;
    border-color: #ff9292;
}

.coreSectionTabGroup
{
    width: 815px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #333333;
    border-color: #48abf7;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.coreSectionTab
{
    height: 20px;
    border-color: #333333;
    border-style: solid;
    border-width: 0 0 2px 0;
    text-align: center;
    padding: 5px 0 5px 0;
}

.coreTabSelected, .coreTabSelected:hover
{
    border-color: #48abf7 !important;
}

.coreSectionTab:hover
{
    height: 21px;
    border-width: 0 0 1px 0;
    border-color: #48abf7;
}
